<?xml version="1.0" encoding="utf-8"?>
    <packages>
    
      <!-- BASICS /////////////////////////////// -->
      <!--
        Instructions:
        Un-comment the sections below as desired.
        cinst choco.config
      -->
      
      <!-- SILENT /////////////////////////////// -->
<!--
      <package id="autohotkey_l" />
      <package id="conemu" />
      <package id="googlechrome" />
      <package id="googlechrome.canary" />
      <package id="chromium" />
      <package id="firefox" />
      <package id="f.lux" />
      <package id="hst" />
      <pakcage id="notepad2" />
      <package id="notepadplusplus" />
      <package id="opera" />
      <package id="picasa" />
      <package id="safari" />
      <package id="spotify" />
      <package id="sublime" />
      <package id="sudo" />
      <package id="virtualbox" />
      <package id="winmerge" />
      <package id="wizmouse" />
      <package id="zoomit" />
-->

      <!-- NOT SILENT /////////////////////////////// -->
<!--
      <package id="dropbox" />
      <package id="lastpass" />
      <package id="trillian" />
      <package id="truecrypt" />
-->

      <!-- NICE TO HAVES ///////////////////////////////// -->
<!--
      <package id="colorpic" />
      <package id="deskspace" />
      <package id="fiddler4" />
      <package id="ietester" />
      <package id="inkscape" />
      <package id="tightvnc" />
      <package id="windirstat" />
      <package id="utorrent" />
      <package id="wudt" />
-->

      <!-- NOT WORKING /////////////////////////////// -->
<!--
      <package id="7zip" />
      <package id="expresso" />
      <package id="growl" />
-->
    </packages>
